{% extends "base.twig" %}
{% block page_title %}
    Subscriptions
{% endblock %}
{% block page_description %}
    Subscriptions for 86400.global
{% endblock %}
{% block body %}
    <div class="jumbotron jumbo-contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="contact-heading">
                        <small>Find</small><br/>
                        <strong>Subscriptions</strong>
                    </h1>
                    <p>Subscribe to our services</p>
                    <hr/><br/>
                </div>
                {% for subscription in subscriptions %}
                    <div class="col-12 col-md-6">
                        <div class="panel-contact ">
                        <form action="/add-to-cart.php" method="POST">
                            <label for="name">Name:</label>
                            <input name="name" type="text" value="{{ subscription[0] }}" class="form-control form-control-lg" required disabled/>
                            <br/>
                            <label for="price_cents">Price (Cents):</label>
                            <input name="price_cents" type="text" value="{{ subscription[0] }}" class="form-control form-control-lg" required disabled/>
                            <br/>
                            <label for="billing_period_days">Billing Period (Days):</label>
                            <input name="billing_period_days" type="text" value="{{ subscription[0] }}" class="form-control form-control-lg" required disabled/>
                            <br/>
                            <button type="submit" class="btn btn-primary w-100">Add To Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}