{% extends "base.twig" %}
{% block page_title %}
    Subscriptions
{% endblock %}
{% block page_description %}
    Subscriptions for 86400.global
{% endblock %}
{% block body %}
    <div class="jumbotron jumbo-contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="contact-heading">
                        <small>Find</small><br/>
                        <strong>Subscriptions</strong>
                    </h1>
                    <p>Subscribe to our services</p>
                    <hr/><br/>
                </div>
                {% for subscription in subscriptions %}
                    <div class="col-12 col-md-6">
                        <div class="panel-contact ">
                        <h2>
                            {{ subscription[0] }}
                        </h2>
                        <hr/>
                        <form action="/add-to-cart.php" method="POST">
                            <label for="subscrition_id">Subscription ID:</label>
                            <input name="subscription_id" type="text" value="{{ subscription[0] }}" class="form-control form-control-lg" required disabled />
                            <label for="quantity">Quantity:</label>
                            <input name="quantity" type="number" value="1" class="form-control form-control-lg" required/>
                            <input name="ref_url" type="text" value="/subscriptions.php" class="form-control form-control-lg" required disabled hidden/>
                            <br/>
                            <button type="submit" class="btn btn-primary w-100">Add To Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}