{% extends "base.twig" %}
{% block page_title %}
    Subscriptions
{% endblock %}
{% block page_description %}
    Subscriptions for 86400.global
{% endblock %}
{% block body %}
    <div class="jumbotron jumbo-contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="contact-heading">
                        <small>Find</small><br/>
                        <strong>Subscriptions</strong>
                    </h1>
                    <p>Subscribe to our services</p>
                    <hr/><br/>
                </div>
                {% for subscription in subscriptions %}
                    <div class="col-12 col-md-6">
                        <div class="panel-contact panel-subscription text-center">
                        <h2 class="panel-subscription-name">
                            {{ subscription.name }}
                        </h2>
                        <p class="panel-subscription-price">
                            ${{ subscription.price_cents }} AUD every
                            {{ subscription.billing_period_days }} Days    
                        </p>
                        
                        <form action="/add-to-cart.php" method="POST">
                            <input name="subscription_id" type="text" value="{{ subscription.id }}" class="form-control form-control-lg" hidden required  />
                            <div class="panel-subscription-quantity">
                                <label for="quantity">Quantity: </label>
                                <input name="quantity" type="number" value="1" class="form-control form-control-md" min="1" required style="display:inline-block;width:40%;"/>
                            </div>
                            <br/>
                            <input name="ref_url" type="text" value="/subscriptions.php" class="form-control form-control-lg" required  hidden/>
                            <br/>
                            <button type="submit" class="btn btn-primary w-50">Add To Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}